<div class="authors__container container">
    <h2 class="authors__title">
        List of Authors
    </h2>
    <div class="authors__list homepage-authors swiper ">
        <div class="authors__list-wrapper swiper-wrapper">
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/man-in-yellow-button-up-shirt-wearing-black-framed-eyeglasses-7562313.png" alt="">
                </div>
                <h3 class="authors__item-name">
                    Floyd Miles
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/woman-in-white-and-black-striped-shirt-wearing-black-sunglasses-3671083.png" alt="">
                </div>
                <h3 class="authors__item-name">
                    Dianne Russell
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/fashion-woman-cute-shoes-5704849.png" alt="">
                </div>
                <h3 class="authors__item-name">
                    Jenny Wilson
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/content-baker-with-delicious-puff-in-cafeteria-6205509.png" alt="">
                </div>
                <h3 class="authors__item-name">
                    Leslie Alexander
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/man-in-yellow-button-up-shirt-wearing-black-framed-eyeglasses-7562313-1.png" alt="">
                </div>
                <h3 class="authors__item-name">
                    Guy Hawkins
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/woman-in-white-and-black-striped-shirt-wearing-black-sunglasses-3671083-1.png" alt="">
                </div>
                <h3 class="authors__item-name">
                    Eleanor Pena
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/content-unshaven-man-covering-eye-with-yellow-flower-5262459.png" alt="">
                </div>
                <h3 class="authors__item-name">
                    Robert Fox
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="authors__item swiper-slide">
                <div class="authors__item-img-block">
                    <img class="authors__item-img" src="../img/cheerful-young-ethnic-male-millennial-standing-near-stone-wall-and-smiling-6147118.png" alt="img">
                </div>
                <h3 class="authors__item-name">
                    Jacob Jones
                </h3>
                <span class="authors__item-position">
                    Content Writer @Company
                </span>
                <div class="authors__item-social-block">
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-twitter"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-instagram"></i>
                    </a>
                    <a class="authors__item-social-item" href="#">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="authors__list-scrollbar swiper-scrollbar"></div>
    </div>
</div>
