<div class="category__list">
    <div class="category__item">
        <div class="category__item-icon-box">
            <img src="../img/category-icon-1.png" alt="img">
        </div>
        <h3 class="category__item-title">
            Business
        </h3>
        <span class="gategory__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </span>
    </div>
    <div class="category__item">
        <div class="category__item-icon-box">
            <img src="../img/category-icon-2.png" alt="img">
        </div>
        <h3 class="category__item-title">
            Startup
        </h3>
        <span class="gategory__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </span>
    </div>
    <div class="category__item">
        <div class="category__item-icon-box">
            <img src="../img/category-icon-3.png" alt="img">
        </div>
        <h3 class="category__item-title">
            Economy
        </h3>
        <span class="category__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </span>
    </div>
    <div class="category__item">
        <div class="category__item-icon-box">
            <img src="../img/category-icon-4.png" alt="img">
        </div>
        <h3 class="category__item-title">
            Technology
        </h3>
        <span class="gategory__item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </span>
    </div>
</div>