<footer class="footer">
    <div class="footer__container container">
        <div class="footer__logo-block">
            <img class="footer__logo" src="../img/footer-logo.svg" alt="img">
        </div>
        <nav class="footer__nav-block">
            <a class="footer__nav-item" href="home.html">Home</a>
            <a class="footer__nav-item" href="blog.html">Blog</a>
            <a class="footer__nav-item" href="about.html">About Us</a>
            <a class="footer__nav-item" href="contact.html">Contact Us</a>
            <a class="footer__nav-item" href="privacy-policy.html">Privacy Policy</a>
        </nav>
        <div class="footer__main-block">
            <h2 class="footer__title">
                Subscribe to our news letter to get latest updates and news
            </h2>
            <div class="footer__form-block">
                <form class="footer__form" action="">
                    <label class="footer__form-label" for="">
                        <input class="footer__form-input" type="text" placeholder="Enter Your Email">
                    </label>
                </form>
                <button class="footer__form-btn yellow-btn" type="submit">Subscribe</button>
            </div>
        </div>
        <div class="footer__address-block">
            <span class="footer__address">
                Finstreet 118 2561 Fintown
            </span>
            <a class="footer__email" href="mailto:Hello@finsweet.com">Hello@finsweet.com</a>
            <a class="footer__tel" href="tel:02079932905">020 7993 2905</a>
        </div>
        <div class="footer__social-block">
            <a class="footer__social-item icon-facebook" href="#"></a>
            <a class="footer__social-item icon-twitter" href="#"></a>
            <a class="footer__social-item icon-instagram" href="#"></a>
            <a class="footer__social-item icon-linkedin" href="#"></a>
        </div>
    </div>
</footer>