<div class="header__navbar navbar">
  <div class="navbar__container container">
    <a class="navbar__logo" href="#">
      <img class="navbar__logo-link" src="../img/Logo.svg" alt="logo" />
    </a>
    <nav class="navbar__nav-block">
      <ul class="navbar__nav-list">
        <li class="navbar__nav-item">
          <a class="navbar__nav-link" href="home.html">Home</a>
        </li>
        <li class="navbar__nav-item">
          <a class="navbar__nav-link" href="blog.html">Blog</a>
        </li>
        <li class="navbar__nav-item">
          <a class="navbar__nav-link" href="about.html">About Us</a>
        </li>
        <li class="navbar__nav-item">
          <a class="navbar__nav-link" href="contact.html">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button class="navbar__subscribe-btn">
      Subscribe
    </button>
    <button class="navbar__burger-btn">
      <span class="navbar__burger-line"></span>
    </button>
    
  </div>
</div>
