/* === START reset default browser styles === */
/* === END reset default browser styles === */
/* === START fonts === */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Medium.woff2") format("woff2"), url("../fonts/Sen-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-ExtraBold.woff2") format("woff2"), url("../fonts/Sen-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-SemiBold.woff2") format("woff2"), url("../fonts/Sen-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Regular.woff2") format("woff2"), url("../fonts/Sen-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Bold.woff2") format("woff2"), url("../fonts/Sen-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* === END fonts === */
/* === START icons === */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot?jaitg2");
  src: url("../fonts/icons/icons.eot?jaitg2#iefix") format("embedded-opentype"), url("../fonts/icons/icons.ttf?jaitg2") format("truetype"), url("../fonts/icons/icons.woff?jaitg2") format("woff"), url("../fonts/icons/icons.svg?jaitg2#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\ea3c";
}

.icon-arrow-left:before {
  content: "\ea40";
}

.icon-facebook:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin:before {
  content: "\eac9";
}

/* === END icons === */
/* === START global styles === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style-type: none;
}

html {
  font-size: 16px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Sen", serif;
  overflow-x: hidden;
  height: 100%;
  color: #232536;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -2px;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -1px;
}

h4 {
  font-size: 1.75rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-family: "Inter", serif;
  color: #6d6e76;
}

.yellow-btn {
  display: flex;
  justify-content: center;
  height: 56px;
  padding: 0 25px;
  align-items: center;
  background: #ffd050;
  transition: 0.3s ease;
  font-size: 1.125rem;
  font-weight: 700;
  width: 210px;
  color: #232536;
}
h56px .yellow-btn:hover {
  background: #EDC14A;
}

/* === END global styles === */
/* === START navbar styles === */
.navbar {
  height: 80px;
  background: #232536;
}
.navbar__container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__nav-block {
  margin-left: auto;
}
.navbar__nav-list {
  display: flex;
}
.navbar__nav-item {
  margin: 0 12px;
}
.navbar__nav-item:last-child {
  margin-right: 32px;
}
.navbar__nav-link {
  color: #fff;
  position: relative;
}
.navbar__nav-link:hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: -5px;
  animation: underline 0.3s ease forwards;
}
@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.navbar__subscribe-btn {
  padding: 16px 48px;
  color: #232536;
  font-size: 1.125rem;
  font-weight: 700;
}
.navbar__burger-btn {
  display: none;
}
@media screen and (max-width: 1150px) {
  .navbar__subscribe-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar__nav-list {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 25vh;
    height: 100vh;
    background: #232536;
    display: block;
    transition: 0.2s ease;
    transform: translateX(-100%);
    text-align: center;
  }
  .navbar__nav-list.nav-active {
    transform: translateX(0);
  }
  .navbar__nav-item {
    padding: 25px 0;
    text-align: center;
    margin: 0;
  }
  .navbar__nav-item:last-child {
    margin-right: 0;
  }
  .navbar__burger-btn {
    grid-area: burger;
    display: block;
    position: relative;
    z-index: 99;
    width: 35px;
    height: 23px;
    background: transparent;
  }
  .navbar__burger-btn.burger-active .navbar__burger-line {
    width: 0;
  }
  .navbar__burger-btn.burger-active .navbar__burger-line::before {
    transform: rotate(45deg);
    top: 10px;
  }
  .navbar__burger-btn.burger-active .navbar__burger-line::after {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  .navbar__burger-line {
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
  }
  .navbar__burger-line::before, .navbar__burger-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.3s ease;
  }
  .navbar__burger-line::before {
    top: 0;
  }
  .navbar__burger-line::after {
    bottom: 0;
  }
}
/* === END navbar styles === */
/* === START hero section === */
.header {
  position: relative;
}
.header__bg {
  position: absolute;
  z-index: -1;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - 80px);
  width: 100%;
  object-fit: cover;
}
.header__container {
  height: inherit;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  height: calc(100vh - 80px);
}
.header__subtitle {
  margin-top: 9%;
}
.header__subtitle > i {
  font-style: normal;
  font-weight: 700;
}
.header__title {
  margin: 30px 0;
  font-size: 3.5rem;
  max-width: 75%;
}
.header__info {
  margin-bottom: 16px;
}
.header__author {
  border-right: 1px solid #fff;
  padding-right: 8px;
}
.header__author-link {
  color: #ffd050;
}
.header__date {
  padding-left: 8px;
}
.header__text {
  max-width: 50%;
}
.header__btn {
  width: 208px;
  height: 56px;
  color: #232536;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 48px;
  margin-bottom: 14%;
}

@media screen and (max-width: 950px) {
  .header__title {
    max-width: 100%;
  }
  .header__text {
    max-width: 100%;
  }
}
/* === END hero section === */
.posts {
  margin: 128px 0;
}
.posts__content {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 0 32px;
}
.posts__main-content {
  padding: 32px;
  margin-top: 32px;
  border: 1px solid #f4f4f4;
}
.posts__main-img-block {
  margin-bottom: 32px;
}
.posts__main-img {
  width: 100%;
}
.posts__main-author {
  padding-right: 8px;
  border-right: 1px solid #232536;
}
.posts__main-author-link {
  color: #592ea9;
  font-weight: 500;
}
.posts__main-date {
  padding-left: 8px;
}
.posts__main-title {
  margin-top: 25px;
  margin-bottom: 22px;
}
.posts__main-btn {
  margin-top: 32px;
}
.posts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "heading link" "block block";
}
.posts__list-heading {
  grid-area: heading;
}
.posts__list-link {
  grid-area: link;
  color: #592ea9;
  align-self: center;
  justify-self: end;
  transition: 0.3s ease;
  font-weight: 500;
}
.posts__list-link:hover {
  text-decoration: underline;
}
.posts__list-block {
  grid-area: block;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.posts__list-item {
  padding: 4%;
  transition: 0.3s ease;
}
.posts__list-item:hover {
  background: #fbf6ea;
}
.posts__list-item-author {
  padding-right: 8px;
  border-right: 1px solid #232536;
}
.posts__list-item-author-link {
  color: #592ea9;
}
.posts__list-item-date {
  padding-left: 8px;
}
.posts__list-item-title {
  margin-top: 20px;
  color: #232536;
}

@media screen and (max-width: 1165px) {
  .posts__content {
    grid-template-columns: 1.3fr 0.7fr;
  }
}
@media screen and (max-width: 1075px) {
  .posts__content {
    grid-template-columns: 1fr;
  }
  .posts__list {
    margin-top: 35px;
  }
  .posts__list-block {
    margin-top: 45px;
  }
  .posts__list-item {
    padding: 0;
    margin-bottom: 35px;
  }
  .posts__list-item-title {
    margin-top: 7px;
  }
}
@media screen and (max-width: 550px) {
  .posts__main-content {
    padding: 10px;
  }
}
/* === START posts section === */
/* === END posts section === */
/* === START about section === */
.about__content {
  padding: 8% 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 6.5%;
  background: #f4f0f8;
  position: relative;
}
.about__content::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  height: 20px;
  background: #ffd050;
  width: 70%;
}
.about__content::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  height: 20px;
  background: #592ea9;
  width: 20%;
}
.about__subtitle {
  font-family: "Inter", serif;
  font-weight: 600;
}
.about__title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.about__btn {
  display: block;
  width: 110px;
  height: 32px;
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #592ea9;
}
@media screen and (max-width: 950px) {
  .about__content {
    grid-template-columns: 1fr;
  }
  .about__second-block {
    margin-top: 50px;
  }
}
/* === END about section === */
/* === START category section === */
.category {
  margin-top: 128px;
}
.category__title {
  text-align: center;
}

.category__list {
  display: flex;
  justify-content: space-around;
  gap: 0 32px;
  margin-top: 50px;
}
.category__item {
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.3);
  transition: 0.3s ease;
}
.category__item:hover {
  background: #ffd050;
  border: 1px solid #ffd050;
}
.category__item:hover > .category__item-icon-box {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.category__item-icon-box {
  width: 48px;
  height: 48px;
  background: #fbf6ea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.category__item-title-link {
  color: #232536;
}
.category__item-title-link:hover {
  text-decoration: underline;
}
.category__item-title {
  margin-top: 20px;
  margin-bottom: 7px;
}

@media screen and (max-width: 1170px) {
  .category__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px 24px;
  }
}
@media screen and (max-width: 550px) {
  .category__list {
    grid-template-columns: 1fr;
  }
}
/* === END category section === */
/* === START post section === */
.post {
  margin-top: 160px;
  margin-bottom: 120px;
}
.post__block {
  position: relative;
}
.post__bg-block {
  width: 75%;
  height: 705px;
}
.post__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post__content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  display: flex;
  flex-direction: column;
  background: #fff;
  z-index: 2;
  padding: 80px;
}
.post__subtitle {
  font-family: "Inter", serif;
  font-weight: 500;
}
.post__title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.post__btn {
  margin-top: 32px;
  width: max-content;
}

@media screen and (max-width: 1050px) {
  .post__block {
    display: flex;
    flex-direction: column;
  }
  .post__bg-block {
    width: 100%;
    height: max-content;
  }
  .post__content {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }
}
/* === END post section === */
/* === START authors section === */
.authors {
  margin: 128px 0;
}
.authors__title {
  text-align: center;
  margin-bottom: 50px;
}
.authors__list {
  padding-bottom: 20px;
}
.authors__list-scrollbar > .swiper-scrollbar-drag {
  background: #ffd050;
}
.authors__item-img-block {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  justify-self: center;
}
.authors__item {
  padding: 40px 28px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
}
.authors__item:hover {
  background: #fbf6ea;
}
.authors__item-img {
  object-fit: cover;
}
.authors__item-name {
  margin-top: 25px;
  margin-bottom: 5px;
}
.authors__item-position {
  text-align: center;
}
.authors__item-social-block {
  margin-top: 20px;
}
.authors__item-social-item {
  margin: 0 8px;
  color: #232536;
  font-size: 1.125rem;
}
.authors__item-social-item:first-child {
  margin-left: 0;
}
.authors__item-social-item:last-child {
  margin-right: 0;
}

/* === END authors section === */
/* === START partners section === */
.partners__content {
  display: flex;
}
.partners__title {
  width: 320px;
  display: flex;
  flex-direction: column;
  color: #6d6e76;
}
.partners__title > i {
  font-family: "Inter", serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}
.partners__logo-item {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
}

@media screen and (max-width: 1100px) {
  .partners__content {
    display: block;
  }
  .partners__title {
    width: auto;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* === END partners section === */
/* === START testimonials section === */
.testimonials {
  margin-top: 104px;
  margin-bottom: 128px;
}
.testimonials__content {
  display: flex;
  background: #fbf6ea;
  padding: 5%;
}
.testimonials__text-block {
  width: 45%;
  padding-right: 9%;
  border-right: 1px solid #6d6e76;
}
.testimonials__subtitle {
  font-family: "Inter", serif;
  font-weight: 600;
}
.testimonials__title {
  margin-top: 15px;
  margin-bottom: 20px;
}
.testimonials__text {
  font-family: "Inter", serif;
}
.testimonials__slider-block {
  width: 55%;
}
.testimonials__slider {
  margin-left: 17%;
}
.testimonials__slider-item-author {
  width: 50%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-areas: "avatar name" "avatar location";
  margin-top: 120px;
}
.testimonials__slider-item-author-avatar {
  grid-area: avatar;
  align-self: center;
}
.testimonials__slider-item-author-name {
  grid-area: name;
}
.testimonials__slider-item-author-location {
  grid-area: location;
}
.testimonials__slider-nav {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.testimonials__slider-btn {
  width: 48px;
  height: 48px;
  transition: 0.3s ease;
  background: #fff;
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  transition: 0.3s ease;
}
.testimonials__slider-btn:hover {
  background: #000;
}
.testimonials__slider-btn:hover > i {
  color: #fff;
}
@media screen and (max-width: 1180px) {
  .testimonials__content {
    flex-direction: column;
  }
  .testimonials__text-block {
    width: 100%;
    padding-right: 0;
    padding-bottom: 45px;
    border-right: none;
    border-bottom: 1px solid #6d6e76;
  }
  .testimonials__slider-block {
    width: 100%;
    margin-top: 55px;
  }
  .testimonials__slider {
    margin-left: 0;
  }
  .testimonials__slider-item-author {
    grid-template-columns: max-content auto;
    gap: 0 20px;
    width: 100%;
    margin-top: 30px;
  }
  .testimonials__slider-nav {
    margin-top: 20px;
    position: relative;
    justify-content: center;
  }
}
/* === END testimonials section === */
/* === START join section === */
.join {
  margin-bottom: 128px;
}
.join__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.join__title {
  margin-bottom: 20px;
}
.join__btn {
  margin-top: 32px;
}

/* === END join section === */
/* === START footer styles === */
.footer {
  background: #232536;
  padding: 60px 0;
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo nav" "main main" "address social";
}
.footer__logo-block {
  grid-area: logo;
}
.footer__nav-block {
  grid-area: nav;
  justify-self: end;
}
.footer__nav-item {
  color: #fff;
  margin-left: 24px;
}
.footer__main-block {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 95px;
  padding: 80px 64px;
  margin-top: 54px;
  margin-bottom: 48px;
  background: rgba(109, 110, 118, 0.2);
}
.footer__title {
  font-weight: 500;
  color: #fff;
  align-self: center;
}
.footer__form-block {
  align-self: center;
  display: grid;
  grid-template-columns: auto 180px;
  gap: 0 24px;
  height: 56px;
}
.footer__form {
  height: inherit;
}
.footer__form-label {
  display: block;
  width: 100%;
  height: inherit;
}
.footer__form-input {
  width: 100%;
  height: inherit;
  background: transparent;
  border: 1px solid #4c4c4c;
  outline: none;
  color: #6d6e76;
  padding-left: 24px;
  font-size: 1.125rem;
  font-family: "Sen", serif;
}
.footer__form-btn {
  width: 180px;
}
.footer__address-block {
  grid-area: address;
}
.footer__address {
  display: block;
  margin-bottom: 5px;
  color: #6d6e76;
}
.footer__email {
  color: #6d6e76;
}
.footer__email:hover {
  text-decoration: underline;
}
.footer__tel {
  color: #6d6e76;
  margin-left: 8px;
}
.footer__tel:hover {
  text-decoration: underline;
}
.footer__social-block {
  grid-area: social;
  align-items: center;
  justify-self: end;
}
.footer__social-item {
  margin-left: 26px;
  color: #6d6e76;
}

@media screen and (max-width: 1450px) {
  .footer__main-block {
    grid-template-columns: 1fr;
  }
  .footer__title {
    text-align: center;
  }
  .footer__form-block {
    margin-top: 25px;
    width: 70%;
    justify-self: center;
  }
}
@media screen and (max-width: 1200px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "main" "nav" "social" "address";
  }
  .footer__logo-block, .footer__nav-block, .footer__social-block, .footer__address-block {
    justify-self: center;
  }
  .footer__main-block {
    padding: 40px 30px;
    margin-bottom: 25px;
  }
  .footer__nav-item {
    margin: 0 15px;
  }
  .footer__address-block {
    margin-top: 40px;
    text-align: center;
  }
  .footer__social-block {
    margin-top: 20px;
  }
  .footer__social-item {
    margin: 0 15px;
  }
}
@media screen and (max-width: 1100px) {
  .footer__form-block {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .footer__main-block {
    padding: 25px;
  }
  .footer__form-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .footer__form {
    height: 56px;
  }
  .footer__form-btn {
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 635px) {
  .footer__nav-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__nav-item {
    padding-top: 10px;
  }
}
/* === END footer styles === */