.category {
    
    &__list {
        display: flex;
        justify-content: space-around;
        
        gap: 0 32px;
        margin-top: 50px;
    }

    &__item {
        padding: 32px;
        border: 1px solid rgba($color: $mediumGrey, $alpha:0.3);
        transition: .3s ease;
        &:hover {
            background: $yellow;
            border: 1px solid $yellow;
            & > .category__item-icon-box {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }    

    &__item-icon-box {
        width: 48px;
        height: 48px;
        background: $lightYellow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
    }

    &__item-title-link {
        color: $black;
        &:hover {
            text-decoration: underline;
        }
    }

    &__item-title {
        margin-top: 20px;
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 1170px) {
    .category {
        &__list {
            display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 32px 24px;
        }
    }
}


@media screen and (max-width: 550px) {
    .category {
        &__list {
            grid-template-columns: 1fr;
        }
    }
}